<h1>Crear anteproyecto</h1>
<form class="row g-3">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Titulo</label>
    <input type="text" class="form-control" id="validationDefault01" placeholder="Ingresa el titulo del anteproyecto" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="validationDefault03" placeholder="Ingresa una breve descripción" required>
  </div>
  <div class="col-md-4">
    <label for="validationDefault03" class="form-label">Objetivo general</label>
    <input type="text" class="form-control" id="validationDefault03" placeholder="Ingresa el objetivo general" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefaultUsername" class="form-label">Hipotesis</label>
      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Plantamiento</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Justificación</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
  <div class="col-md-6">
    <label for="validationDefault05" class="form-label">Zip</label>
    <input type="file" class="form-control" id="validationDefault05" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Crear anteproyecto</button>
  </div>
</form>
